<ion-header>
  <ion-navbar>
    <ion-title>
      Quote Motivator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <motivator></motivator>

  <motivator></motivator>

  <motivator></motivator>

</ion-content>