motivator {

    .quote-container {
        background-color: #f6f6f6;
        min-height: 150px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
